comp -num_boards 1 # Always put. If something comes later, this will be overwritten.
rtlc -partition_module_xrtl dut_wrapper
rtlc -partition_module_xrtl adder
rtlc -partition_module_xrtl LightUartTransactor
rtlc -partition_module_xrtl DceLoopback


comp -clk_file clock_file

comp -platform D2 
comp -hvl systemc
hvl -enable_profile_report # From: "comp -enable_profile_report"
rtlc -one_way_callee_opt

hvl -64bit_runtime


