comp -platform D2
comp -num_boards 1

rtlc -partition_module_xrtl LightUartTransactor
rtlc -partition_module_xrtl DceLoopback
rtlc -partition_module_xrtl Top
rtlc -compile_display
# rtlc -enable_vis_src_packing

velsyn -KeepAlive veloce.kal
comp -num_boards 1
#comp -hvl c
hvl -64bit_runtime
#hvl -enable_profile_report
#hvl -cfiles dpi.c

# rtlc -xwave_siglist xwave_file1

#comp -hvl questa
